beautifulsoup4==4.4.1
Brlapi==0.6.4
chardet==2.3.0
click==6.7
command-not-found==0.3
decorator==4.1.2
defer==1.0.6
defusedxml==0.5.0
Flask==0.12.2
Flask-Login==0.4.0
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.6
language-selector==0.1
louis==2.6.4
lxml==3.5.0
MarkupSafe==1.0
onboard==1.2.0
pbr==3.1.1
pexpect==4.0.1
Pillow==3.1.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
python-apt===1.1.0.b1-elementary2-ubuntu16.04.1
python-systemd==231
python3-openid==3.1.0
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
sessioninstaller==0.0.0
six==1.10.0
SQLAlchemy==1.2.0b2
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
system-service==0.3
Tempita==0.5.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
Werkzeug==0.15.3
WTForms==2.1
xkit==0.0.0
